<section class="signup" id="signup">
		<div class="container grid">
				<div class="signup-text">
				<h2>Sign Up</h2>
				<p>
					Signup for our free and secure project management service.And manage your projects with peace of mind and efficiency. 
				</p>
			    </div>
				<div class="signup-form form-card">
				<h3>Sign Up</h3>
				<form class="form" method="POST" action="/signup">
					<div class="form-item">
						<input
							type="text"
							id="name"
							name="name"
							placeholder="Full Name (Required)"
							required
						/>
					</div>
					<div class="form-item">
						<input
							type="text"
							id="company"
							name="company"
							placeholder="Company Name (Optional)"
						/>
					</div>
					<div class="form-item">
						<input
							type="email"
							id="email"
							name="email"
							placeholder="Email (Required)"
							required
						/>
					</div>
					<div class="form-item">
						<input
							type="password"
							id="password"
							name="password"
							placeholder="Password (Required)"
							required
						/>
					</div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</form>
			    </div>
			    </div>
</section>
