{{> dashboardHeader}}

<section class="container p-4 justify-content-center mx-auto">
	<div class="row mx-auto justify-content-center">
		<div class="col-md-6">
			<div class="form-card text-center dashboard-card">
				<div class="card-body">
					<h5 class="card-title">TODO</h5>
					<p class="card-text" style="color: black">
						Add, remove and edit TODO's.
					</p>
					<a href="#" class="btn btn-primary">View TODO's</a>
				</div>
			</div>
			<div class="form-card text-center">
				<div class="card-body dashboard-card">
					<h5 class="card-title">Projects</h5>
					<p class="card-text" style="color: black">
						Manage your projects
					</p>
					<a href="#" class="btn btn-primary">Go to Projects</a>
				</div>
			</div>
			<div class="form-card text-center">
				<div class="card-body dashboard-card">
					<h5 class="card-title">Members</h5>
					<p class="card-text" style="color: black">
						Find Friends
					</p>
					<a href="#" class="btn btn-primary">Go to Projects</a>
				</div>
			</div>
		</div>
	</div>
</section>

{{!--
<footer class="footer bg-dark p-4 py-5">
	<div class="grid">
		<div>
			<h1>{{title}}</h1>
			<p>Copyright &copy; 2020</p>
		</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/us-ers/dashboard">Dashboard</a></li>
			</ul>
		</nav>
	</div>
</footer>
--}}
